* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wonepage {
  position: fixed;
  width: 100%;
  height: 100%;
  &.wonepage-ready {
    .wonepage-pagination {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.wonepage-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

.wonepage-slide {
  min-height: 100%;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.wonepage-pagination {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 1;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      .wonepage-pagination-bullet {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        background-color: black;
      }
    }
  }
}
.content-block {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content:center;
}
